:root {
    color-scheme: dark;
}
body{
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-right: 220px;
    margin-top: 60px;
    margin-bottom: 100px;
}
h1{
    font-family:'britannic', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 280%;
}
h2{
    font-family:'britannic', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180%;
}
h3{
    font-family:'britannic', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 140%;
}
p{
    font-size: 110%;
}
td{
    padding: 6px;
    padding-right: 8px;
    padding-left: 8px;
}
ul{
    font-size: large;
}